@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav { background-color: #e9a781; }
.nav-item { text-align: center;}

#hero .btn-get-started {
    font-weight: 500; font-size: 16px;
    letter-spacing: 1px; display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px; transition: 0.5s;
    margin: 10px 0 0 0; color: #fff;
    background: #8d5230; text-decoration: none;
  }
  
  #hero .btn-get-started:hover { background-color: #4a210a; }

  .animated { animation: zoom-in-zoom-out 5s ease-in infinite; }

body { 
    font-family: 'Poppins', sans-serif;
}



.character-img img {
    width: 100%;
    max-height: 100%;
    object-fit: center center;
    background-color: rgb(255, 255, 255);
    transition: 3s;
}

.character-img img:hover {
    transform: scale(1.1, 1.1);
    animation: infinite;
    transition: 2s;
}

.character-img {
    height: 250px;
}


.character-card {
    box-shadow: 0px 0 30px rgba(25, 218, 208, 0.1);
    height: 100%;
    padding: 20px 10px;
    text-align: center;
}


img {
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border: none; 
     background: rgba(3, 172, 240, 0); */
}

#footer .footer-bottom {
    background-color: #e9a781; color: #000;
}
  
#footer .credits a { transition: 0.3s; color: #000; text-decoration: none; }
#footer .credits a:hover { transition: 0.3s; color: burlywood; text-decoration: none;}
  

@keyframes zoom-in-zoom-out {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.15, 1.15);}
    100% {transform: scale(1, 1);}
}

.carousel-item {
                /* width:auto;  */
                text-align:center; 
                padding:20px; 
                height: 70vh;
    }

    .carousel-item img {
        width: 30%; 
        max-height: 100%; 
        object-fit: center center; 
    }
    .text-CSS {
        font-size: 55px;
        color: #003861!important;
        padding-top: 240px;
        padding-left: 110px;
    }
